.animationContainerText {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.companyName {
    text-align: center;
    color: white;
    font-size: 160px;
}

.animationContainer {
    top: 0;
    position: relative;
    margin: 0 auto;
    max-width: 50%;
    min-height: 200px;
}

.headerDown {
    color: white;
    font-size: 40px;
}


.home{
    margin-top: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@media screen and (max-width:800px){
    .companyName {
        font-size: 80px;
    }
}


@media screen and (max-width:600px){
    .home{
        padding: 10px;
    }
    .animationContainer{
        width: 90%;
    }
    .companyName{
        font-size: 60px;
    }
    .headerDown{
        font-size: 20px;
    }
}