.details {
    width: 60%;
    margin: 0 auto;
    color: white;
    position: relative;
}

.details h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 44px;
    z-index: 100;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 200px auto 0;
}

.images>div:nth-child(3){
    width: 12%;
}

.images img {
    max-width: 100%;
}


@media screen and (max-width: 800px) {
    .details{
        width: 90%;
    }
    .images {
        flex-wrap: wrap;
        margin-top: 100px;
    }
    .images>div:nth-child(3){
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .details{
        margin-top: 20px;
    }
    .details h2{
        font-size: 20px;
    }
    .images>div:nth-child(3){
        width: 100%;
    }

}