.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-top: 30px;

}

.container img {
    width: 30%;
}

.details {
    width: 60%;
    margin: 0 auto;
    color: white;
    position: relative;
}

.details h2 {
    max-width: 90%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 44px;
    z-index: 100;
    text-align: center;
}

.details p {
    margin-top: 60px;
    font-size: 25px;
}

.detilsText {
    margin-top: 40px;
    padding: 40px 40px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 44px;
    gap: 10px;
}

.responsiveShowImage {
    display: none;
}



@media screen and (max-width: 800px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .container>img {
        display: none;
    }

    .details {
        width: 100%;
    }

    .responsiveShowImage {
        display: block;
        float: right;
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .details {
        margin-top: 20px;
    }

    .details h2 {
        font-size: 20px;
    }

    .details p {
        font-size: 16px;
    }

    .detilsText {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .responsiveShowImage{
        min-width: 120px;
    }
}